<% (left = '') if left.nil? %>
<% (center = '') if center.nil? %>
<% (right = '') if right.nil? %>
<div class="navbar-container">
  <ul class="navbar-flex-icons">
    <% if user_signed_in? %>
      <li class="navbar-item">
        <%= left%>
      </li>
      <li class="navbar-item">
        <%= center%>
      </li>
      <li class="navbar-item">
        <%= right%>
      </li>
    <% else %>
      <li class="navbar-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>