<ul class="stats-container">
  <li class="stats">
    <h5><%= user.posts.count %></h5>
    <p>posts</p>
  </li>
  <li class="stats">
    <h5><%= user.followers.size %></h5>
    <p>followers</p>
  </li>
  <li class="stats">
    <h5><%= user.followings.count %></h5>
    <p>following</p>
  </li>
</ul>