<%= render 'shared/navbar', center: "Instagram"%>
<div class="container">
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <%= render "shared/post-card", post: post %>
    <% end%>
  <% end%>
</div>
<%= render  "shared/footer" %>