<%= render 'shared/navbar', { left: (link_to "Upload", new_post_path), center: "Instagram", right: "Messages" } %>
<div class="container">
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <%= render "shared/post-card", post: post %>
    <% end%>
  <% end%>
</div>
<%= render  "shared/footer" %>