.small-round-avatar {
  width: 32px;
  height: 32px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.medium-round-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.big-round-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container {
  text-align: center;
}