.primary-button {
  background-color: $main-color;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.primary-button:hover {
  color: white;
  box-shadow: 1px 1px 10px #00000030;
}

.secondary-button {
  background-color: white;
  color: #000;
  text-align: center;
  border: 1px solid #00000033;
  border-radius: 4px;
  padding: 6px 20px;
  margin-top: 10px;
}

.log-out {
  text-align: center;
  padding: 8px;
}

.link {
  background-color: white;
  color: $main-color;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 14px; 
}