.footer-container {
  height: 60px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #00000015;
}

.footer-buttons {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.footer-button {
  margin: 0 10px;
  padding: 6px 12px;
}