.post-card-container {
  border-radius: 4px;
  background-color: white;
  width: 100%;
}

.post-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.photo-and-username {
  display: flex;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-likes-meter {
  padding: 0px 10px;

  h5 {
    margin: 0px;
  }
}

.post-likes-meter p {
  margin-bottom: 0px;
}

.comment {
  display: flex;
  justify-content: space-between;
}

.post-buttons-bar {
  padding: 0 10px;
}

.post-comments-container {
  padding: 10px;
}

.username-description-container {
  padding: 0 10px;
  display: flex;

  p {
    margin: 0px;
    font-size: 14px;
  }

  h5 {
    margin: 2px 10px 0px 0px ;
    font-size: 14px;
  }
}

.content-and-username {
  padding: 0 10px;
  display: flex;

  p {
    margin: 0px;
    font-size: 14px;
  }

  h5 {
    margin: 2px 10px 0px 0px ;
    font-size: 14px;
  }
}

// Dropdown delete button

#dropdown-icon {
  color: black;
}

.dropdown-content {
  display:none;
}

.delete-button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 18px;
  background-color: white;
  padding: 12px 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px #00000033;

  h5 {
    margin: 0;
  }
}