.user-header {
  display: flex;
  padding: 0 10px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.stats {
  text-align: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 2px;
}

.posts-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.posts-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-photo {
  object-fit: cover;
  width: 100%;
  height: 100%
}

.bio-and-edit {
  margin: 10px;
}