// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "./components/avatar";
@import "./components/footer";
@import "./components/post-card";


ul {
  list-style: none;
}

.container {
  padding-top: 20px!important;
  margin-top: 60px!important;
  padding-bottom: 20px!important;
  margin-bottom: 60px!important;
}

img {
  image-orientation: from-image!important;
}