// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "./components/avatar";
@import "./components/footer";
@import "./components/post-card";

body {
  background-color: white;
}

ul {
  list-style: none;
}

.container {
  padding-top: 20px!important;
  margin-top: 60px!important;
  padding-bottom: 20px!important;
  margin-bottom: 60px!important;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

img {
  image-orientation: from-image!important;
}

h5 {
  font-size: 14px;
  margin-top: 16px;
  color: black;
  font-weight: 600;
}